/*
    Combination of http://meyerweb.com/eric/tools/css/reset/, http://github.com/necolas/normalize.css, http://ru.html5boilerplate.com and personal experience
    by Robert Haritonov http://rhr.me/rreset
*/
html,
body,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
samp,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
embed,
figcaption,
hgroup,
output,
ruby,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/*
 * Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: none;
}
blockquote,
q {
  quotes: none;
  margin: 1em 40px;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses styling not present in 8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to 'bolder' in FF3/4, S4/5, Chrome
*/
b,
strong {
  font-weight: 700;
}
/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
/*
 * Corrects font family set oddly in S5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * Corrects inline-block display not defined in 8/9 & FF3
 */
audio[controls],
canvas,
video {
  display: inline-block;
}
/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden;
}
/*
 * Addresses margin not present in 8/9, S5, O11
 */
figure {
  margin: 0;
}
/*
 * Define consistent margin and padding
 */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE8/9
 */
legend {
  border: 0;
  /* 1 */

}
/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */

  margin: 0;
  /* 2 */

  vertical-align: baseline;
  /* 3 */

}
/*
 * 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */

}
/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */

  -webkit-appearance: button;
  /* 2 */

}
/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */

  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */

  box-sizing: content-box;
}
/*
 * Corrects inner padding displayed oddly in S5, Chrome on OSX
 */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in 8/9
 * 2. Improves readability and aligment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */

  vertical-align: top;
  /* 2 */

}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #2c343b;
  line-height: normal;
}
a {
  color: #4e636b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* Clearfix  */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.button {
  position: relative;
  display: inline-block;
  padding: 0 54px;
  border-radius: 2px;
  background-color: #fff;
  line-height: 44px;
  font-size: 24px;
}
.button:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.h1 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 55px;
}
.h2 {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 34px;
}
.layout_main {
  width: 1000px;
  margin: auto;
}
.nav {
  position: relative;
  display: inline-block;
  margin-left: 17px;
  padding-left: 17px;
  font-family: Arial, "Lucida Grande", sans-serif;
}
.nav:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  border-left: 1px solid #511814;
}
.nav_i {
  display: inline-block;
  margin-left: 15px;
}
.nav_i:first-child {
  margin-left: 0;
}
.pro-main {
  text-align: center;
}
.pro-main_i {
  position: relative;
  padding: 35px 0 60px;
}
.pro-main_i:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -13px;
  height: 0;
  width: 0;
  border: solid transparent;
  border-top-color: #c6463d;
  border-width: 15px;
}
.pro-main_i:last-child:after {
  display: none;
}
.header {
  padding: 20px 0;
  background-color: #c6463d;
  line-height: 28px;
}
.header a {
  color: #ffffff;
}
.header_right {
  float: right;
  margin-top: -1px;
}
.header_action {
  font-size: 18px;
}
.logo {
  display: inline-block;
  width: 153px;
  height: 20px;
  background-image: url(../i/logo.png);
  background-size: cover;
  text-indent: -9999px;
  vertical-align: top;
}
.intro {
  padding-top: 15px;
  background-color: #c6463d;
  color: #fff;
}
.intro_txt {
  margin: 0 0 40px;
  font-size: 18px;
}
.dates {
  background-color: #e5e1d0;
}
.dates.pro-main_i:after {
  border-top-color: #e5e1d0;
}
.dates_scheme {
  margin-top: 50px;
}
.dates_scheme_i {
  display: inline-block;
  width: 50%;
}
.dates_part {
  padding-bottom: 15px;
  font-size: 16px;
}
.dates_part-num {
  font-size: 50px;
}
.dates_diagram {
  position: relative;
  padding: 7px 25px 0;
  border-top: 5px solid #fff;
  font-size: 20px;
}
.dates_diagram:before {
  content: "";
  position: absolute;
  top: -7px;
  left: 50px;
  right: 50px;
  height: 1px;
  border-top: 9px #52616E solid;
}
.dates_diagram.__style-2:before {
  border-top-color: #c6463d;
}
.dates_diagram_i {
  display: inline-block;
  width: 50%;
  text-align: right;
}
.dates_diagram_i:first-child {
  text-align: left;
}
.why.pro-main_i:after {
  border-top-color: #ffffff;
}
.why_intro {
  font-size: 16px;
}
.why_stats {
  margin-top: 10px;
  color: #52616e;
}
.why_stats_i {
  width: 30%;
  display: inline-block;
  font-size: 16px;
}
.why_stats_main-hl {
  font-size: 100px;
  font-weight: 400;
  line-height: 1.1;
}
.why_stats_text {
  width: 460px;
  margin: 30px auto 55px;
  font-size: 18px;
}
.why_visual_i {
  display: inline-block;
  width: 12%;
  height: 72px;
  background-repeat: no-repeat;
  background-position: 50%;
}
.why_visual_i.__1 {
  background-image: url(../i/demo/demo_1.png);
  background-size: 34px;
}
.why_visual_i.__2 {
  background-image: url(../i/demo/demo_2.png);
  background-size: 75px;
}
.why_visual_i.__3 {
  background-image: url(../i/demo/demo_3.png);
  background-size: 108px 72px;
}
.why_visual_i.__4 {
  background-image: url(../i/demo/demo_4.png);
  background-size: 57px;
}
.why_visual_i.__5 {
  background-image: url(../i/demo/demo_5.png);
  background-size: 72px;
}
.why_ul {
  width: 450px;
  margin: 50px auto 0;
  text-align: left;
}
.why_li {
  margin-bottom: 15px;
  margin-left: 20px;
  padding-left: 20px;
  font-size: 22px;
  list-style: none;
}
.why_li:before {
  position: absolute;
  content: '– ';
  margin-left: -0.85em;
}
.steps {
  padding-top: 60px;
  background-color: #2c343b;
  color: #ffffff;
}
.steps.pro-main_i:after {
  border-top-color: #2c343b;
}
.steps_list {
  width: 700px;
  margin: 0 auto;
  text-align: left;
}
.steps_i {
  min-height: 190px;
  padding-left: 180px;
  line-height: 1.9;
  background-repeat: no-repeat;
}
.steps_i.__1 {
  padding-right: 70px;
  background-image: url(../i/step/step_1.png);
  background-size: 138px;
}
.steps_i.__2 {
  position: relative;
  margin-left: 185px;
  margin-top: 25px;
  padding-left: 210px;
  padding-top: 20px;
  background-image: url(../i/step/step_2.png);
  background-size: 164px;
}
.steps_i.__2:before {
  content: "";
  position: absolute;
  top: -27px;
  right: 100%;
  width: 93px;
  height: 108px;
  margin-right: 35px;
  background-image: url(../i/step/step_dots.png);
  background-size: cover;
}
.steps_i h2 {
  line-height: normal;
}
.steps_i p {
  margin-bottom: .5em;
}
.steps_action {
  margin-top: 30px;
}
.steps_action .button {
  color: #c6463d;
}
.experts {
  background-color: #e5e1d0;
}
.experts.pro-main_i:after {
  border-top-color: #e5e1d0;
}
.experts_ul {
  margin-top: 35px;
}
.experts_li {
  display: inline-block;
  width: 170px;
  margin: 0 13px;
}
.experts_name {
  font-size: 18px;
}
.experts_avatar {
  display: inline-block;
  overflow: hidden;
  width: 120px;
  height: 120px;
  border-radius: 50em;
  margin-bottom: 7px;
}
.experts_avatar-img {
  width: 100%;
}
.footer {
  padding: 15px 0 60px;
  background-color: #2c343b;
  color: #fff;
}
.footer a {
  color: #ffffff;
}
.footer_nav_i {
  display: inline-block;
  margin-left: 20px;
  list-style: none;
}
.footer_nav_i:first-child {
  margin-left: 0;
}
.footer_copy {
  float: right;
  margin-left: 20px;
}
